body {
	font-family: 'Montserrat', sans-serif;
    background-color: #fff;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

h1 {
	color: #fff;
	padding: 0px;
	margin-top: 5px;
	margin-left: 15px;
    margin-right: auto;
    font-size: 1.5em;
	
}

h2 {
	color: #000;
	font-family: 'Combo', cursive;
	font-size: 2.0em;
	margin-top: 20px;
	margin-top: 25px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

h3 {
	color: #fff;
	font-size: 1.5em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 20px;
}

.Menuitems {
	background-color: #000;
	margin-left: 10px;
	margin-right: 10px;
}

.items {
	color: #ffffff;
	margin-left: 30px;
	margin-right: 30px;
	text-align: center;
	line-height: 25px;
	padding: 10px;
	font-weight: normal;

}


#collapsable-nav {
    background-color: black;
}

.navbar-header {
    background-color: black;
}


    
h1{
    font-size: 1.5em;
}

.navbar-toggle {
    margin-top: 18px;
}

#nav-list{
    text-align: center;
    margin-right: 30px;
    color: #fff;
    font-size: 1.2em;
}


@media (min-width:325px) and (max-width:992px) {
    .navbar-header {
        height: 60px;
    }
}

